@import url(../autoload.css);

header.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	font-family: 'Roboto', sans-serif;
	height: 65px;
	padding: 0 20px;
	background-color: var(--navbar-bg-color);
	box-shadow: 0px 5px 2px var(--navbar-bg-color);
	& .left_menu {
		display: flex;
		align-items: center;
		gap: 10px;
		& .burger {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			background-color: transparent;
			outline: none;
			border: 1px solid gray;
			border-radius: 100vmax;
			cursor: pointer;
			color: white;
			font-size: 1.8rem;
			transition: all var(--navbar-an-dur);
			&:hover {
				background-color: white;
				color: var(--navbar-bg-color);
				border: 1px solid white;
			}
		}
		& .logo {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #CEA203;
		padding: 10px;
		padding-right: 15px;
		gap: 5px;
		border-radius: 100vmax;
		font-family: 'Pacifico', cursive;
		color: var(--main-font-color);
		text-decoration: none;
		& span {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 30px;
			width: 30px;
			background-color: #FCDF49;
			border-radius: 100%;
			}
		}
	}
	& form {
		display: flex;
		gap: 1px;
		width: 560px;
		overflow: hidden;
		border-radius: 20px;
		& input {
			width: 100%;
			border-right: none;
			outline: none;
			border: none;
			padding: 0 15px;
		}
		& button {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 35px;
			width: 50px;
			border: none;
			outline: none;
			background-color: white;
			cursor: pointer;
		}
	}
	& .right_menu {
		display: flex;
		align-items: center;
		gap: 5px;
		& .activity {
			display: flex;
			gap: 10px;
			& a {
				display: flex;
				align-items: center;
				justify-content: center;
				color: white;
				width: 40px;
				height: 40px;
				border: 1px solid white;
				border-radius: 100vmax;
				background-color: var(--navbar-bg-color);
				transition: all var(--navbar-an-dur);
				&:hover {
					background-color: white;
					color: var(--navbar-bg-color);
				}
			}
		}
		& .profile {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 3px;
			border-radius: 100%;
			overflow: hidden;
			transition: background-color var(--navbar-an-dur);
			&:hover {
				background-color: gray;
			}
			& .pfp {
				width: 45px;
				height: 45px;
				border: 2px solid #FCDF49;
				border-radius: 100%;
				overflow: hidden;
				& img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}