@import url(../autoload.css);

header.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	font-family: 'Roboto', sans-serif;
	height: 60px;
	padding: 0 20px;
	background-color: var(--navbar-bg-color);
	border-bottom: 1px solid grey;
	& .menu_brand {
		display: flex;
		gap: 10px;
		& .burger {
			background-color: grey;
			border-radius: 20px;
		}
		& .logo {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #CEA203;
		padding: 10px;
		padding-right: 15px;
		gap: 5px;
		border-radius: 100vmax;
		font-family: 'Pacifico', cursive;
		color: var(--main-font-color);
		text-decoration: none;
		& span {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 30px;
			width: 30px;
			background-color: #FCDF49;
			border-radius: 100%;
			}
		}
	}
	& form {
		display: flex;
		gap: 1px;
		& input {
			width: 100%;
			align-items: center;
			border: 5px solid white;
			border-right: none;
			outline: none;
			border-radius: 40px 0 0 40px;
		}
		& button {
			border: 5px solid white;
			border-radius: 0 20px 20px 0;
		}
	}
	& .nav-menu {
		display: flex;
		align-items: center;
		gap: 5px;
		& .activity {
			display: flex;
			gap: 10px;
			& a {
				display: flex;
				align-items: center;
				justify-content: center;
				color: white;
				width: 40px;
				height: 40px;
				border: 1px solid white;
				border-radius: 20px;
				background-color: grey;
			}
		}
		& .profile {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2px;
			border-radius: 100%;
			overflow: hidden;
			transition: background-color var(--navbar-an-dur);
			&:hover {
				background-color: gray;
			}
			& .pfp {
				width: 45px;
				height: 45px;
				border: 2px solid #FCDF49;
				border-radius: 100%;
				overflow: hidden;
				& img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}