.container {

	width: 90%;

}

@media (max-width: 1400px) {
	.container {
		width: 1320px;
	}
}
@media (max-width: 1200px) {
	.container {
		width: 1140px;
	}
}
@media (max-width: 992px) {
	.container {
		width: 960px;
	}
}
@media (max-width: 768px) {
	.container {
		width: 720px;
	}
}
@media (max-width: 576px) {
	.container {
		width: 540px;
	}
}

.logo {

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #CEA203;
	padding: 10px;
	padding-right: 15px;
	gap: 5px;
	border-radius: 100vmax;
	font-family: 'Pacifico', cursive;
	color: var(--main-font-color);
	text-decoration: none;

	& span {

		display: flex;
		align-items: center;
		justify-content: center;
		height: 30px;
		width: 30px;
		background-color: #FCDF49;
		border-radius: 100%;

	}
}
