
:root {

	/* Font Colors */
	--main-font-color: #222;
	--navbar-font-color: white;

	/* Backgrounds */
	--main-bg-color: #343a40;
	--navbar-bg-color: #343a40;

	/* animations */
	--navbar-an-dur: .4s;

}